# Chapter 1. Python 기초 - 클래스와 객체
* 교재 : 으뜸 파이썬(생능출판)
* 출처 : https://www.booksr.co.kr/product/9788970503691/

# 1. 복습 문제

## 1번 - Def
다음과 같은 리스트가 있습니다.
my_list = [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 ]  
해당 리스트에서 홀수와 짝수를 찾아 각각의 리스트로 반환하는 함수를 작성하세요.

In [3]:
m_l = list(range(1,11))
m_l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
def od_nums(l) :  
    return [i for i in l if i % 2 == 1]

def ev_nums(l) :
    return [i for i in l if i % 2 == 0]

odd_list = od_nums(m_l)
even_list = ev_nums(m_l)

print('홀수 :',odd_list)
print('짝수 :',even_list)

홀수 : [1, 3, 5, 7, 9]
짝수 : [2, 4, 6, 8, 10]

## 2번 - Def
다음과 같은 두 개의 리스트가 있습니다.  
list01 = [ 0, 1, 2, 3, 4 ]  
list02 = [ 3, 4, 5, 6, 7 ]  
두 개의 리스트에 공통적으로 존재하는 요소를 제외한 나머지 요소들을 반환하는 함수를 작성하세요.

In [6]:
list01 = [0,1,2,3,4]
list02 = [3,4,5,6,7]

In [7]:
def union_nums(l1,l2) :
    return [i for i in l1 if i in l2]

union_list = union_nums(list01, list02)
union_list

[3, 4]

# 2. Class(객체)
## 절차적 프로그래밍 방식(Procedural Programming)
* 데이터들이 많아지고, 함수가 많아진다면 매우 많은 화살표와 함수 호출 필요
* 대규모 프로젝트에서는 어려움이 있음
* 대표적인 언어 : C
## 객체 지향 프로그래밍(OOP : Objected Oriented Programming)
* 잘 설계된 클래스를 이용하여 객체를 생성
* 클래스는 속성과 행위를 가지도록 설계하고 이 클래스를 이용하여 실제로 상호작용하는 객체를 만들어서 프로그램에 적용시키는 방법을 사용
* 개발이나 소프트웨어 업데이트 시 유지보수 비용이 매우 적게 들기 때문에 최근 프로그래밍은 대부분 객체 지향 방식을 선호
* 대표적인 언어 : Java, Python
## Class(객체) 구성 요소
* 속성 : 변수
* 동작 : 함수
(ex) Class SoccerPlayer :
>속성(변수) : 이름, 나이, 포지션 etc
동작(함수) : 뛴다, 걷는다, 점프한다 etc
## Method(메서드), Member Function(멤버 함수)
* 클래스 내부에서 정의되어 클래스나 클래스 인스턴스가 사용하는 함수
* self는 자기 자신을 참조하는 변수이며 메서드의 첫 번째 매개변수로 반드시 들어가야 한다

## p.531

### 코드 9-2

In [1]:
class Cat :
    def meow(self) :
        print('야옹')
        
nabi = Cat()
nabi.meow()

야옹

## p.532

### 코드 9-3

In [2]:
class Cat :
    def meow(self) :
        print('야옹')
    def haac(self) :
        print('하악')
        
nabi = Cat()
nabi.meow()
nabi.haac()

nero = Cat()
nero.meow()

mimi = Cat()
mimi.meow()

야옹
하악
야옹
야옹

## p.533

### LAB 9-4

In [3]:
class Dog :
    def bark(self) :
        print('멍멍')
        
my_dog = Dog()
my_dog.bark()

멍멍

## p.534

### 코드 9-4

In [4]:
class Cat :
    # 생성자 혹은 초기화 메소드
    def __init__(self, name, color) :
        self.name = name
        self.color = color
        
    def meow(self) :
        print('우리집 고양이 이름은 {}, 색깔은 {}, 야옹!'.format(self.name,self.color))
        
nabi = Cat('나비','갈색')
nabi.meow()

우리집 고양이 이름은 나비, 색깔은 갈색, 야옹!

In [5]:
print(nabi.name, nabi.color)

나비 갈색

## p.537

### 코드 9-5

In [6]:
class Cat :
    # 생성자 혹은 초기화 메소드
    def __init__(self, name, color) :
        self.name = name
        self.color = color
        
    # Cat 객체의 문자열 표현방식
    def __str__(self) :
        return 'Cat(name = {}, color = {}'.format(self.name, self.color)
    
nabi = Cat('나비','갈색')
print(nabi)

Cat(name = 나비, color = 갈색

## p.548

### 코드 9-13

In [7]:
class Vector :
    def __init__(self, x, y) :
        self.x = x
        self.y = y
    
    def __str__(self) :
        return '{}, {}'.format(self.x, self.y)
    
    def __add__(self, other) :
        return Vector(self.x + other.x, self.y + other.y)
    
    def __sub__(self, other) :
        return Vector(self.x - other.x, self.y - other.y)

In [8]:
v1 = Vector(30, 40)
v2 = Vector(10, 20)

print(v1 + v2)
print(v1 - v2)

40, 60
20, 20

## p.564

### 9.10

In [9]:
class BankAccount :
    
    '''
    -- 메서드 목록 --
    deposit(self, money) : 입금
    withdraw(self, money) : 출금
    '''
    
    # 생성자
    def __init__(self, name, acc_num, bal = 0) :
        self.__name = name
        self.__acc_num = acc_num
        self.__bal = bal
    # 출력
    def __str__(self) :
        return '{}님의 계좌 {}의 잔고는 {}원입니다.'.format(self.__name, self.__acc_num, self.__bal)
    
    # 이름
    def get_name(self) :
        return '계좌 주인의 이름은 {}입니다.'.format(self.__name)
    
    # 계좌번호
    def get_account_num(self) :
        return '계좌번호는 {}입니다.'.format(self.__acc_num)
    
    # 잔고
    def get_balance(self) :
        return '잔고는 {}원입니다.'.format(self.__bal)
    
    # 입급
    def deposit(self, money) :
        self.__bal += money
        return '{}원이 입금되었습니다. 현재 잔고는 {}원입니다.'.format(money, self.__bal)
    
    # 출금
    def withdraw(self, money) :
        if self.__bal < money :
            return '계좌 잔고는 {}원으로 인출 요구 금액 {}원보다 {}원 작습니다.'.format(self.__bal, money, money - self.__bal)
        else :
            self.__bal -= money
            return '{}원이 출금되었습니다. 현재 잔고는 {}원입니다.'.format(money, self.__bal)

In [10]:
account1 = BankAccount('홍길동','1234-0001')
print(account1)

홍길동님의 계좌 1234-0001의 잔고는 0원입니다.

In [11]:
account1.deposit(2000)

'2000원이 입금되었습니다. 현재 잔고는 2000원입니다.'

In [12]:
print(account1)

홍길동님의 계좌 1234-0001의 잔고는 2000원입니다.

In [13]:
account1.withdraw(500)

'500원이 출금되었습니다. 현재 잔고는 1500원입니다.'

In [14]:
print(account1)

홍길동님의 계좌 1234-0001의 잔고는 1500원입니다.

In [15]:
account1.withdraw(5000)

'계좌 잔고는 1500원으로 인출 요구 금액 5000원보다 3500원 작습니다.'

In [16]:
print(account1)

홍길동님의 계좌 1234-0001의 잔고는 1500원입니다.

# 3. Sort, Lambda

## ex 1.

In [33]:
sorted([['길동',21],['춘향',16],['심청',19]], key = lambda x : x[1])

[['춘향', 16], ['심청', 19], ['길동', 21]]

## ex 2.

In [34]:
sorted([['길동',21],['춘향',16],['심청',16]], key = lambda x : (x[1],x[0]))

[['심청', 16], ['춘향', 16], ['길동', 21]]

## p.618

### 10.6 (2)

In [35]:
my_list = [44,66,34,24,144,98,38,568,234,345]
list(filter(lambda x : x % 12 == 0, my_list))

[24, 144]

## p.620

### 10.12 (2)

In [36]:
day_list = ['sunday','monday','tuesday','wednesday','thursday','friday','saturday']
list(map(lambda x : x.upper()[:3], day_list))

['SUN', 'MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT']

### 10.13 (1)

In [37]:
list(filter(lambda x : ((x % 4 == 0 and x % 100 != 0) or (x % 400 == 0)), range(2001,2031)))

[2004, 2008, 2012, 2016, 2020, 2024, 2028]

# 4. 실습 문제

## 1번 - Class
Calculator라는 이름의 클래스를 선언하세요.  
이 클래스는 add() : 덧셈, subtract() : 뺄셈, multiple() : 곱셈, divide() : 나눗셈 네 가지 Member Functions을 가지고 있습니다.

### My Answer

In [17]:
class Calculator1 :
    
    # 생성자
    def __init__(self, num1, num2) :
        self.num1 = num1
        self.num2 = num2
    
    # 덧셈
    def add(self) :
        return self.num1 + self.num2
    
    # 뺄셈
    def subtract(self) :
        return self.num1 - self.num2
    
    # 곱셈
    def multiple(self) :
        return self.num1 * self.num2
    
    # 나눗셈
    def divide(self) :
        return self.num1 / self.num2

In [19]:
r = Calculator1(5,5)

In [20]:
r.add()

10

In [21]:
r.subtract()

0

In [22]:
r.multiple()

25

In [23]:
r.divide()

1.0

### Answer

In [24]:
class Calculator2 :
    # 덧셈
    def add(self, num1, num2) :
        return num1 + num2
    
    # 뺄셈
    def subtract(self, num1, num2) :
        return num1 - num2
    
    # 곱셈
    def multiple(self, num1, num2) :
        return num1 * num2
    
    # 나눗셈
    def divide(self, num1, num2) :
        return num1 / num2

In [25]:
r = Calculator2()

In [26]:
r.add(5, 5)

10

In [27]:
r.subtract(5,5)

0

In [28]:
r.multiple(5,5)

25

In [29]:
r.divide(5,5)

1.0

## 2번 - Class
원의 넓이를 구하는 프로그램을 작성하세요.  
원은 Circle 클래스를 설계하고, 넓이를 구하는 Member Function인 get_area()를 구현하세요.

In [30]:
class Circle :
    
    # 생성자
    def __init__(self, r) :
        self.r = r
    
    # 원의 넓이
    def get_area(self) :
        import math
        return round(math.pi*(self.r**2),2)

In [31]:
c = Circle(5)

In [32]:
c.get_area()

78.54

## 3번 - Sort, Lambda
my_list = [ 3, 6, 3, 2, 4, 8, 23 ]을 홀수 -> 짝수 순으로 정렬하고 홀수는 홀수끼리, 짝수는 짝수끼리 오름차순으로 정렬하세요.

In [41]:
m_l = [3,6,3,2,4,8,23]
m_l

[3, 6, 3, 2, 4, 8, 23]

In [42]:
sorted(m_l, key = lambda x : (x % 2 == 0, x))

[3, 3, 23, 2, 4, 6, 8]