# Chapter 1. Python 기초 - 제어문
* 교재 : 으뜸 파이썬(생능출판)
* 출처 : https://www.booksr.co.kr/product/9788970503691/

# 1. 복습 문제

## 1번 - List
다음의 리스트를 보고 문제에 답하세요.  
my_list = [ 'apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon' ]

In [1]:
m_l = ['apple','banana','cherry','orange','kiwi','melon']
m_l

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon']

### 1).
리스트 인덱스 2에 해당하는 요소('banana')를 출력하세요.

In [2]:
m_l[1]

'banana'

### 2).
리스트 인덱스 1부터 2까지의 요소를 출력하세요.

In [3]:
m_l[1:3]

['banana', 'cherry']

### 3).
리스트 처음부터 인덱스 2까지의 요소를 출력하세요.

In [4]:
m_l[:2]

['apple', 'banana']

### 4).
리스트 인덱스 4부터 마지막까지의 요소를 출력하세요.

In [5]:
m_l[4:]

['kiwi', 'melon']

### 5).
리스트에서 인덱스 1부터 끝까지 두 칸씩 건너뛰면서 출력하세요.

In [6]:
m_l[1::2]

['banana', 'orange', 'melon']

## 2번 - Dict
다음의 딕셔너리를 보고 문제에 답하세요.  
my_dict = { 'apple' : 1, 'banana' : 2, 'cherry' : 3, 'orange' : 4, 'kiwi' : 5, 'melon' : 6 }

In [7]:
m_d = {'apple' : 1, 'banana' : 2, 'cherry' : 3, 'orange' : 4, 'kiwi' : 5, 'melon' : 6}
m_d

{'apple': 1, 'banana': 2, 'cherry': 3, 'orange': 4, 'kiwi': 5, 'melon': 6}

### 1).
'cherry' 키에 대응하는 값을 출력하세요.

In [8]:
m_d['cherry']

3

### 2).
딕셔너리에 새로운 'mango'라는 키를 추가하고, 대응하는 값으로 7을 지정하세요.

In [9]:
m_d['mango'] = 7
m_d

{'apple': 1,
 'banana': 2,
 'cherry': 3,
 'orange': 4,
 'kiwi': 5,
 'melon': 6,
 'mango': 7}

## 3번 - Dict
다음의 딕셔너리를 보고 문제에 답하세요.  
my_dict2 = { 'score' : [ 80,90,100 ], 'rank' : [ 3,2,1 ] }

In [10]:
m_d2 = {'score' : [80,90,100], 'rank' : [3,2,1]}
m_d2

{'score': [80, 90, 100], 'rank': [3, 2, 1]}

### 1).
'score' 키에 대응하는 리스트의 두 번째 요소를 출력하세요.

In [11]:
m_d2['score'][1]

90

### 2).
'rank' 키에 대응하는 리스트의 두 번째 요소부터 세 번째 요소까지 출력하세요.

In [12]:
m_d2['rank'][1:3]

[2, 1]

## 4번 - Dict
다음의 딕셔너리를 보고 문제에 답하세요.  
my_dict3 = { 'apple' : 1, 'banana' : 2, 'cherry' : 3, 'orange' : 4, 'kiwi' : 5 }

In [13]:
m_d3 = {'apple' : 1, 'banana' : 2, 'cherry' : 3, 'orange' : 4, 'kiwi' : 5}  
m_d3

{'apple': 1, 'banana': 2, 'cherry': 3, 'orange': 4, 'kiwi': 5}

### 1).
딕셔너리의 키을 출력하세요.

In [14]:
keys = list(m_d3.keys())
keys

['apple', 'banana', 'cherry', 'orange', 'kiwi']

### 2).
딕셔너리의 값을 출력하세요.

In [15]:
vals = list(m_d3.values())
vals

[1, 2, 3, 4, 5]

### 3).
딕셔너리의 아이템을 출력하세요.

In [16]:
items = list(m_d3.items())
items[:2]

[('apple', 1), ('banana', 2)]

# 2. 제어문 - If

## p.131

### 코드 3-12

In [17]:
num = 100

if num < 0 :
    print('{}은(는) 음수입니다.'.format(num))
else :
    print('{}은(는) 양수입니다.'.format(num))

100은(는) 양수입니다.

## p.142

### 코드 3-17

In [18]:
score = int(input('정수를 입력하시오 : '))

if score >= 90 :
    grade = 'A'
elif score >= 80 :
    grade = 'B'
elif score >= 70 :
    grade = 'C'
elif score >= 60 :
    grade = 'D'
else :
    grad = 'F'

print('당신의 등급은 {}입니다.'.format(grade))

정수를 입력하시오 :  70

당신의 등급은 C입니다.

## p.163

### 코드 3-35

In [19]:
for ch in 'Hello' :
    print(ch,end = ' ')

H e l l o

## 실습 문제

### 1번
게임 사용자의 게임점수(game_score)가 1000점 이상이면 '당신은 고수입니다.'를 출력하는 프로그램을 if문을 이용하여 작성하시오.  
* 이때 다음과 같이 game_score값을 화면에 출력하시오.  
(ex1) game_score = 000점, 노력하세요.  
(ex2) game_score = 000점, 당신은 고수입니다!  
* game_score에 800점, 1300점을 각각 입력하여 출력문을 확인하시오.

In [20]:
for i in range(2) :
    game_score = int(input())
    
    if game_score >= 1000 :
        print('game_score = {}, 당신은 고수입니다!\n'.format(game_score))
    else :
        print('game_score = {}, 노력하세요.\n'.format(game_score))

 800

game_score = 800, 노력하세요.

 1300

game_score = 1300, 당신은 고수입니다!

### 2번
num_a와 num_b에 할당된 값이 같으면 'num_a와 num_b는 일치합니다.'를 출력하는 프로그램을 if문을 이용하여 작성하시오.

In [21]:
a, b = map(int,input().split())

if a == b :
    print('a와 b는 일치합니다.')
else :
    print('a와 b는 일치하지 않습니다.')

 20 30

a와 b는 일치하지 않습니다.

### 3번
1에서 100사이 임의의 정수 n을 입력받아서 n을 화면에 출력한 후 n이 짝수이면 'n은(는) 짝수입니다.'를 출력하는 프로그램을 작성하세요.

In [22]:
num = int(input('정수를 입력하시오 : '))

print(num)
if num % 2 == 0 :
    print('{}은(는) 짝수입니다.'.format(num))
else :
    print('{}은(는) 홀수입니다.'.format(num))

정수를 입력하시오 :  100

100
100은(는) 짝수입니다.

# + alpha - zip, enumerate

In [23]:
l1 = [1,2,3,4]
l2 = [2,3,4,5]

In [24]:
for i,j in zip(l1,l2) :
    print(i,j)

1 2
2 3
3 4
4 5

In [25]:
for i, j in enumerate(l1) :
    print(i, j)

0 1
1 2
2 3
3 4

# 3. 제어문 - While
* 조건에 맞는 경우 반복
* 제대로 된 입력을 할 때까지만 반복  
(ex1) 회원가입할 때 비밀번호가 조건에 따라 생성될 때까지 반복  
(ex2) 리스트에서 값을 하나씩 뽑아서 지울 예정인데 길이를 모를 때 While 조건을 리스트가 비어있게 될 때까지 반복

## 예제
리스트가 비어있게 될 때까지 반복

In [26]:
l1 = [1,3,5,7,9]

i = 0
while l1 :
    print(l1.pop())

9
7
5
3
1

# 4. 제어문 - Break

## 예제
두 수의 합이 10 이상인 경우 Break 후 다음 Step으로 넘어가는 프로그램을 작성하세요.

In [27]:
for i in range(1,10,2) :
    for j in range(2,11,2) :
        print(i,j)
        if i + j > 10 :
            break
    print('Next\n')

1 2
1 4
1 6
1 8
1 10
Next

3 2
3 4
3 6
3 8
Next

5 2
5 4
5 6
Next

7 2
7 4
Next

9 2
Next

# 5. 제어문 - Try, Except

## 예제 1
나눗셈 결과를 출력하는 프로그램을 작성하세요.  
단, 분모가 0인 경우 '분모는 0이 될 수 없습니다.'를 출력하시오.

In [28]:
a, b = map(int, input().split())

try :
    print(a/b)
except :
    print('분모는 0이 될 수 없습니다.')

 5 0

분모는 0이 될 수 없습니다.

## 예제 2
나눗셈 결과를 출력하는 프로그램을 작성하세요.  
단, 분모가 0인 경우 '분모는 0이 될 수 없습니다.'를 출력하고, 제대로 된 값이 나온 경우 프로그램을 종료하세요.

In [29]:
while True :
    try :
        a, b = map(int, input().split())
        print(a/b)
        break
    except ZeroDivisionError :
        print('분모는 0이 될 수 없습니다.\n')
    except ValueError :
        print('숫자만 입력할 수 있습니다.\n')

 lee 1

숫자만 입력할 수 있습니다.

 1 0

분모는 0이 될 수 없습니다.

 2 1

2.0

# + alpha - Raise

## 예제
에러 코드를 생성하세요.  
(ex) TypeError : 정수를 입력해주세요.

In [30]:
a = 'hi!'
if type(a) == int :
    print(a)
else :
    raise TypeError('정수를 입력해주세요.')

TypeError: 정수를 입력해주세요.

# 6. 실습 문제

## 1번 - If, While, Try/Except
두 개의 정수를 입력받아 첫 번째 숫자가 두 번째 정수로 나누어 떨어지는지 검사하는 프로그램을 작성하세요.

In [31]:
while True :
    try :
        a, b = map(int,input().split())
        if a % b :
            print('나누어 떨어집니다.\n')
        else :
            print('나누어 떨어지지 않습니다.\n')
    except :
        print('종료')
        break

 4 2

나누어 떨어지지 않습니다.

 4 6

나누어 떨어집니다.

종료

## 2번 - If
세 개의 정수를 입력받아 가장 작은 값을 찾는 프로그램을 작성하세요.

### My Answer

In [1]:
min(list(map(int,input().split())))

 1 2 3

1

### Answer

In [2]:
a, b, c = map(int, input().split())

min_num = a
if b < min_num : min_num = b
if c < min_num : min_num = c
print(min_num)

 1 2 3

1

## 3번 - If, For
2부터 50사이의 모든 짝수를 출력하는 프로그램을 작성하세요.

In [33]:
print([i for i in range(2,51,2)])

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

## 4번 - If, For
리스트 [ 11, 22, 23, 99, 81, 93, 35 ]에 저장된 원소들의 합을 구하는 프로그램을 작성하세요.

### My Answer

In [34]:
sum([11,22,23,99,81,93,35])

364

### Answer

In [4]:
num_sum = 0
for i in [11,22,23,99,81,93,35] :
    num_sum += i
print(num_sum)

364

## 5번 - If, For
1부터 100까지의 숫자 중에서 3과 5의 공배수의 합을 찾는 프로그램을 작성하세요.

### Answer 1

In [35]:
sum([i for i in range(1,101) if (i % 3 == 0) and (i % 5 == 0)])

315

### Answer 2

In [36]:
sum(set(range(3,101,3)) & set(range(5,101,5)))

315